WORKING WITH SERIES AND DATAFRAM

In [ ]:
import pandas as pd
series =[10,20,230,45]

In [ ]:
data = [33,56,21,79]

m_series = pd.Series(data)
m_series

In [ ]:
m_series

In [ ]:
series = pd.Series(data,index=['a','b','c','d'])

In [ ]:
series

In [ ]:
from typing import TypedDict

class User(TypedDict):
    name:list[str]
    age: list[int]
    city: list[str]
    


user: User = {
    'name': ['Alice','Ama','Kyereh'],
    'age': [12,45,56],
    'city': ['London','Accra', 'NY']
}

df = pd.DataFrame(user)

df

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:

df['age'] = df['age'].astype('float32')
df

In [ ]:
df

In [ ]:
df.dtypes

IMPORTING DATA: WORKING WITH CSV FILES

In [ ]:
import pandas as pd 

df = pd.read_csv('model_logs.csv')

In [ ]:
df.head()

In [ ]:
import pandas as pd

data = {
    "OrderID": [1001, 1002, 1003, 1004],
    "OrderDate": ["2023-11-01", "2023-11-02", "2023-11-03", "2023-11-04"],
    "Sales": [250, 400, 150, 300],
}

df = pd.DataFrame(data)

In [ ]:
df.dtypes

In [ ]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

In [ ]:
df

   OrderID  OrderDate  Sales
0     1001 2023-11-01    250
1     1002 2023-11-02    400
2     1003 2023-11-03    150
3     1004 2023-11-04    300

In [ ]:
df.dtypes

OrderID               int64
OrderDate    datetime64[ns]
Sales                 int64
dtype: object