In [ ]:
import pandas as pd

In [ ]:
pd
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv('./pandas/model_logs.csv')

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
mask = df['Response Time (ms)'] > 50

In [ ]:
slow_response = df[mask]

In [ ]:
slow_response

In [ ]:
slow_response

In [ ]:
slow_response

In [ ]:
slow_response

In [ ]:
pd.reset_option('display.max_columns')
pd.reset_option('display.max_rows')
pd.reset_option('display.max_colwidth')

In [ ]:
slow_response

In [ ]:
pd.set_option('display.width', None)

In [ ]:
slow_response

In [ ]:
df

In [ ]:
slow_response

In [ ]:
df.to_csv('./pandas/slow_responses.csv', index=False)
print("Filtered data saved to slow_responses.csv")

EXPORT TO EXCELL

In [ ]:
df.to_excel('./pandas/data.xlsx')

EXPORT TO JSON

In [ ]:
slow_response.to_json('./pandas/data.json', orient='columns')

In [ ]:
import json


with open('./pandas/data.json','rb') as file:
    content =json.load(file)

In [ ]:
content

In [ ]:
df.to_json('./pandas/data1.json', orient='records', lines=True)

SQLITE

In [ ]:
import sqlite3
conn = sqlite3.connect('./pandas/chat_data.db')

df.to_sql('./pandas/chat_data.db',conn, if_exists='replace', index=False)

conn.close()

EXPORTING TO YAML

In [ ]:
import yaml

data_dict = df.to_dict(orient='records')

with open('./pandas/chat_data.yaml','w') as file:
    yaml.dump(data_dict,file)
    print("Data exported to yaml")

Data exported to yaml

MODIFYING DATA

In [ ]:
import pandas as pd

# sample data 

data = {
    'Name':['Alice','Bob','Chale'],
    'Age': [25,43,32]
}

df = pd.DataFrame(data)

In [ ]:
df

    Name  Age
0  Alice   25
1    Bob   43
2  Chale   32

In [ ]:
df['City'] = ['NY','London','Accra']

In [ ]:
df

    Name  Age    City
0  Alice   25      NY
1    Bob   43  London
2  Chale   32   Accra

In [ ]:
df['Age Group'] = ['Young' if age < 30 else 'Mature' for age in df['Age'] ]

In [ ]:
df

    Name  Age    City Age Group
0  Alice   25      NY     Young
1    Bob   43  London    Mature
2  Chale   32   Accra    Mature

In [ ]:
df = df.drop('Age Group',axis=1)

In [ ]:
df

    Name  Age    City
0  Alice   25      NY
1    Bob   43  London
2  Chale   32   Accra

In [ ]:
df = df.drop(1)

In [ ]:
df

    Name  Age   City
0  Alice   25     NY
2  Chale   32  Accra

In [ ]:
df_copy = df.copy()

In [ ]:
df

    Name  Age   City
0  Alice   25     NY
2  Chale   32  Accra

In [ ]:
df_copy

    Name  Age   City
0  Alice   25     NY
2  Chale   32  Accra